# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env

# Node.js
node_modules/
.next/
.cache/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 